footer {
    padding: 60px 0 60px 0;
    margin-top: 0;
    background: var(--title-color, #2F303A);
    //height: 252px;
}

address {
    font-style: normal;

    @media screen and(min-width:768px),
    (max-width: 1199px) {
        flex-direction: column;
        justify-content: left;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    @media screen and(min-width: 320px) and (max-width: 767) {
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and(min-width:1200px) {
        align-items: baseline;
    }
}

@media screen and(min-width: 320px) {
    address {
        text-align: center;
        margin-bottom: 60px;
    }
    
}

@media screen and(min-width:1200px) {
    .footer-contact {
        text-align: left;
    }
    
}
.footer-address{
    color: var(--list-color);
    text-align: start;
}
.footer-contact__item {
    padding-left: 0;
    margin-bottom: 9px;
}

.site-nav-footer__link {
    margin-bottom: 9px;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    letter-spacing: 0.03em;
    transition: color 250ms var(--time-transition);
}

.footer-address {
    color: var(--list-color);
}

.site-nav-footer__link:hover,
.site-nav-footer__link:focus {
    color: var(--logo-color);
}
.card-footer {
    display: block;

    @media screen and(min-width: 320px) and (max-width: 767) {
        width: 100%;
        align-items: center;
        text-align: center;
        
    }

    @media screen and(min-width:768px) and (max-width: 1199px) {
        width: calc((100% - 45px) / 2);
        flex-direction: column;
        justify-content: left;
    }

    @media screen and(min-width:1200px) {
        flex-basis: calc((50% - 45px) / 2);
    }
}

.site-nav-footer__link:hover,
.site-nav-footer__link:focus {
    color: var(--logo-color);
}
.soсial {
    height: 80px;
    display: flex;

    @media screen and(min-width: 320px) and (max-width: 767) {
        
        flex-direction: column;
        align-items: center;
        
        margin-bottom: 60px;
        margin-right: 0;
        width: 100%;
    }

    @media screen and(min-width:768px) and (max-width: 1199px) {
        justify-content: center;
        margin-bottom: 0;
        margin-right: auto;
        justify-content: left;
        width: calc((100% - 45px) / 2);
    }

    @media screen and(min-width:1200px) {
        margin-right: 100px;
        width: calc((50% - 45px) / 2);
    }
}
.footer__social{
    
    @media screen and(min-width: 320px){
        text-align: center;
        
    }
}
.footer-list {
    text-transform: uppercase;
    color: var(--list-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.social-footer__icon {
    width: 20px;
    height: 20px;
    fill: var(--list-color);
}

.social-footer {
    display: inline-flex;
    padding-left: 0;
    width: 206px;
    height: 44px;

    @media screen and(min-width: 320px),
    (max-width: 767) {
        
        align-items: center;
        margin-bottom: 60px;
        margin-right: 0;
    }

    @media screen and(min-width:768px),
    (max-width: 1199px) {
        display: inline-flex;
        margin-bottom: 60px;
        margin-right: auto;
    }
}

.social-footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--time-transition),
        fill 250ms var(--time-transition);
}

.social-footer__item+.social-footer__item {
    margin-left: 10px;
}

.social-footer__link:hover,
.social-footer__link:focus {
    background-color: var(--logo-color);
}