.subscription {
    width: 570px;
    flex-basis: calc(50% - 15px);
}

.footer-input {
    height: 50px;
    width: 350px;
    margin: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--text-color);
    padding-left: 15px;
}

.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
    margin-left: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer-icon-send {
    margin-left: 10px;
    fill: var(--list-color);
}