.logo-nav {
    display: flex;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    width: 145px;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
    color: var(--logo-color);
}

.logo-basement {
    display: inline-block;
    margin-bottom: 20px;
    width: 145px;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
}

.logo-footer {
    color: var(--list-color);
}

.logo-header {
    color: #000;
}