.client {
    padding: 94px 0 94px 0;
}

.company {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: -30px;
    margin-left: -30px;
}

.company-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    box-sizing: border-box;

    @media screen and (min-width: 320px) {
        flex-basis: calc((100% - 60px) / 2);
        
    }
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 180px) / 6);
    }
}

.company-link {
   width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border 250ms var(--time-transition);
   
}

.company-link:hover,
.company-link:focus {
    border: 1px solid var(--logo-color);
}

.company-link:hover .company-link__icon,
.company-link:focus .company-link__icon {
    fill: var(--logo-color);
}

.company-link__icon {
    
    fill: #afb1b8;
    transition: fill 250ms var(--time-transition);
    
}
@media screen and(max-width:768px) {
    .main-title {
        font-size: 28px;
        line-height: 1.17;
    }
}