.mobile-btn{
    position: relative;
    height: 40px;
    width: 40px;
    background-color:transparent;
    border: none;
    display: flex;
    z-index: 102;
    overflow: auto;
    padding: 10px;
    margin-top: 22px;

   .icon-close{
       display: none;
   }
    @media screen and(min-width: 768px) {
        display: none;
    }
     &.is-open .icon-close {
         display: block;
         position: fixed;
         fill: var(--logo-color);
     }
     &.is-open .icon-menu {
         display: none;
     }
}
.menu {
    display: none;
    position: absolute;
    top: 0%;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 48px 40px;
  
    &.is-open {
        display: block;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;

        @media screen and(min-width: 767px) {
            body{
            max-height: 100vh;
            display: none;
            overflow: hidden;
            }
        }
    }
    @media screen and(max-width: 766px) {
        .menu {
            display: block;
            display: flex;
            overflow: auto;
            top: 0;
            left: 0;
            height: 0;
            padding: 0;
        }
    }
    .social__wrap {
        @media screen and(min-width: 768px) {
            display: none;
        }
    }
    .menu-list {
        margin-top: 0;
        margin-bottom: 0;
    }
    .social__list {
        margin: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .social__links{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;

        color: var(--logo-color);
    }
    .social__item:not(:last-child):after {
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-left: 10px;
    }

    .social__item:not(:last-child) {
        margin-right: 10px;
    }

    .social__item .social__links {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--logo-color);

        @media screen and(max-width: 320px) {
            font-size: 12px;
        }
    }
}
.mobile-nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
    flex-direction: column;
}
.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(----peculiarity-color);
}
.menu__link--active{
    color: var(--logo-color);
}
.mobile-nav__item:not(:last-child) {
    margin-bottom: 35px;
}

.mobile-contact {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 64px;
}
.mobile-contact__item{
    height: 40px;
    left: 40px;
    top: 562px;

    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.mobile-mail{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #757575;
}
.mobile-contact__item:not(:last-child) {
    margin-bottom: 32px;
}
