.social-icons {
    display: inline-flex;
    padding-left: 0;
}

.social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    transition: fill 250ms var(--time-transition),
        background-color 250ms var(--time-transition);
}

.social-icons__item+.social-icons__item {
    margin-left: 10px;
}

.social-icons-link:hover .social-icons-link__icon,
.social-icons-link:focus .social-icons-link__icon {
    fill: var(--list-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: var(--logo-color);
}

.social-icons-link__icon {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
}