.user {
    background: var(--user-color, #f5f4fa);
    padding: 94px 0 94px 0;
    margin-left: auto;
    margin-right: auto;
}

.user-block {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
}
.user-block__item:not(:last-child) {
    margin-bottom: 30px;
}
.user-block__item:last-child {
    margin-bottom: 0;
}
.user-block__item {
    flex-basis: 100%;
    max-width: 270px;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    border: 2px solid #eeeeee;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--list-color);

    
    @media screen and (min-width: 768px) {
        flex-basis:calc((100% - 3 * 30px) / 2);
        margin-right: 30px;
        max-width: 270px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis:calc((100% - 90px) / 4);
    }
    @media screen and (min-width: 480px) and (max-width: 767px){
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .user-block__item:nth-child(2n) {
        margin-right: 0;
    }

    .user-block__item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .user-block__item:nth-last-child(-n + 4) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .user-block__item:nth-child(4n) {
        margin-right: 0;
    }

    .user-block__item:nth-last-child(-n + 4) {
        margin-bottom: 0;
    }
}

h3 {
    margin-block-start: 0em;
}
.studio-card {
    padding: 20px 24px;
    text-align: center;
}