:root {
    --text-color: #757575;
    --logo-color: #2196f3;
    --list-color: #ffffff;
    --title-color: #2f303a;
    --peculiarity-color: #212121;
    --user-color: #f5f4fa;
    --animation: 250ms ease-in;
    --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}